@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400&display=swap');
:root {
  /* Color pallete */
  --clr-1: #c5c5c5;
  --clr-2: #30475e;
  --clr-4: #ececec;
  --clr-5: #f16363;
  --clr-6: #f05454;
  --clr-7: #ec3838;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Barlow', sans-serif;
}
body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-1);
}
h2 {
  font-size: 2.2rem;
  padding: 2rem 2rem 2rem 0;
  text-transform: uppercase;
  color: var(--clr-4);
}

.paper-container {
  height: 40vh;
  width: 25vw;
  margin-bottom: 5rem;
  overflow: hidden;
  text-align: center;
  background-color: var(--clr-4);
  border-radius: 6px;
  box-shadow: 2px 4px 17px -5px rgba(0, 0, 0, 0.71);
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-2);
}

.paper {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    var(--clr-4),
    var(--clr-4) 31px,
    rgba(5, 131, 248, 0.363) 31px,
    rgba(5, 102, 248, 0.418) 32px
  );
}

.jokebtn {
  padding: 1rem 1.5rem;
  box-shadow: 2px 4px 17px -5px rgba(0, 0, 0, 0.71);
  background-color: var(--clr-6);
  border-radius: 20px;
  border: 1px solid var(--clr-5);
  cursor: pointer;
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px var(--clr-6);
}

.jokebtn:active {
  transform: scale(0.98);
}

.jokebtn:hover {
  background-color: var(--clr-7);
}
#shimmer{
display: none;
}
#text {
  margin: 2rem;
  padding: 0.9rem;
  font-size: 2.2rem;
  color: var(--clr-2);
  line-height: 3.1rem;
  text-align: left;
}

.blurry {
  color: transparent;
  text-shadow: 0 0 11px var(--clr-2);
  font-size: 2.2rem;
  padding: 0.9rem;
  margin: 2rem;

  text-align: left;
}

.logo {
  width: 105px;
  position: absolute;
  top: 58%;
  left: 35%;
}

.icon {
  width: 47px;
  height: 50px;
}

@media only screen and (max-width: 1368px) {
  h2 {
    font-size: 2rem;
  }
  #text {
    font-size: 2rem;
  }

  .jokebtn {
    font-size: 1.7rem;
    padding: 0.8rem 1.3rem;
  }

  .logo {
    width: 85px;
    top: 55%;
  }

  .icon {
    width: 42px;
    height: 45px;
  }
}

@media only screen and (max-width: 600px) {
  .paper-container {
    height: 42vh;
    width: 60vw;
    margin-bottom: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  #text {
    font-size: 2rem;
  }

  .jokebtn {
    font-size: 1.7rem;
    padding: 0.8rem 1.3rem;
  }

  .logo {
    top: 57%;
    left: 10%;
  }

  .icon {
    width: 32px;
    height: 35px;
  }
}
